* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}


header {
    background-color: #111;
    color: white;
    padding: 15px;
}


.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color:rgb(228, 220, 220);
}


.search input{
width: 420px;
padding: 10px 40px;
border-radius: 25px;
border: none;
font-size: 14px;
text-align: center;
}



.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:black; 
}

.logo img {
    max-height: 40px;
}

.social,
.icon {
    margin: 0 5px;
    cursor: pointer;
}

menu {
    text-align: left;
    margin: 10px 0;
}


.nav-principal {
    display: flex;
    justify-content: center;
   margin-top: -20px;
}

.nav-principal a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 20px;
}
.nav-principal a.ativo{
    background-color: #37f9ef;
    color: black;
}

.nav-principal a:hover {
    background-color: #c9ffff;
    
}
