@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lemon", sans-serif;
}

body {
    background-color: white;
}

/* HEADER */
header {
    background-color: #111;
    color: white;
    padding: 15px;
}

/* SEARCH */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(236, 236, 236);
}

.search input {
    width: 100%;
    max-width: 420px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    text-align: center;
}

/* LOGO */
.logo {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 1px 15px;
    ;
    background-color: black;
}

.esquerda {
    justify-self: start;
}

.centro {
    justify-self: center;
}

.direita {
    justify-self: end;
}

.social,
.icon {
    margin: 0 5px;
    cursor: pointer;
}

/* MENU ICON */
.menu {
    text-align: right;
    margin: 10px;
    cursor: pointer;
}

/* NAV */
.nav-principal {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 15px 0;
    flex-wrap: wrap;
    margin-top: -50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.nav-principal a {
    color: #111;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 10px;
    transition: 0.3s;
}

.nav-principal a.ativo {
    background-color: #37f9ef;
    color: black;
}

.nav-principal a:hover {
    background-color: #c9ffff;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.noticias {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

/* Coluna esquerda */

.categoria {
    font-size: 12px;
    font-weight: bold;
}

.titulo {
    font-size: 22px;
    margin: 10px 0 20px;
}

/* Imagem + texto */
.destaque {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 15px;
}

.saude-noticia-1 {
    width: 280px;
    height: 200px;
    object-fit: cover;
}

.conteudo-texto {
    flex: 1;
}

.texto {
    font-size: 18px;
    line-height: 1.5;
    color: #757575;
}

.texto-baixo {
    font-size: 16px;
    color: #004444;
    font-weight: bold;
    margin-bottom: 25px;
}

/* Parte de baixo */
.grupo {
    display: flex;
    gap: 20px;
    margin-top: 25px;
    align-items: center;
}

.img-grupo {
    width: 250px;
}

.grupo-texto h2 {
    font-size: 20px;
}

.grupo-texto p {
    color: #625c5c;
    margin: 10px;
}


/* Coluna direita */
.coluna-direita {
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

aside {
    width: 100%;
}

.da-semana {
    background: red;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 15px;
}

.texto {
    font-size: 20px;
    line-height: 1.5;
    color: #757575;
    flex: 1;
}


/* Cards */

.coluna-direita .card p {
    color: #000408;
    cursor: pointer;
    transition: 0.2s;
}

.coluna-direita .card:hover p {
    color: #004499;
    text-decoration: underline;
}

.card {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 15px 0;
    cursor: pointer;
}

.card p {
    flex: 1;
    font-size: 18px;
    line-height: 1.4;
}

.card img {
    width: 180px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
}


/* FOOTER */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 30px 15px;
    margin-top: 40px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    font-family: "Keania One", sans-serif;
    color: #37f9ef;
    font-size: 28px;
    margin-top: 10px;
}