@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lemon", sans-serif;
}

body {
    background-color: white;
}

/* HEADER */
header {
    background-color: #111;
    color: white;
    padding: 15px;
}

/* SEARCH */
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(236, 236, 236);
}

.search input {
    width: 100%;
    max-width: 420px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    text-align: center;
}

/* LOGO */
.logo {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: black;
}

.esquerda {
    justify-self: start;
}

.centro {
    justify-self: center;
}

.direita {
    justify-self: end;
}

.social,
.icon {
    margin: 0 5px;
    cursor: pointer;
}

/* MENU ICON */
.menu {
    text-align: right;
    margin: 10px;
    cursor: pointer;
}

/* NAV */
.nav-principal {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 15px 0;
    flex-wrap: wrap;
    margin-top: -50px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.nav-principal a {
    color: #111;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 10px;
    transition: 0.3s;
}

.nav-principal a.ativo {
    background-color: #37f9ef;
    color: black;
}

.nav-principal a:hover {
    background-color: #c9ffff;
}

/* CONTAINER */
.container {
    max-width: 1300px;
    margin: 30px auto;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

.popular {
    margin-bottom: -50px; 
}

.card img,
.popular img{
width: 300px;
height: 150px;
object-fit: cover;
border-radius: 4px;
}

/* COLUNAS */
.coluna-esquerda,
.noticia-central,
.coluna-direita {
    text-align: center;
}

.coluna-esquerda{
    margin-right: -50px;
}

/* NOTICIA CENTRAL */
.noticia-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
}

.imagem-central {
    position: relative;
}

.img-principal {
    margin-top: 30px;
}

.img-topo {
    position: absolute;
    top: 50px;
    left: 150px;
    transform: translateX(-45%);
    width: 130px;
    z-index: 10;
}

.noticia-central h3 {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.4;
}

/* ESQUERDA */
.noticias-esquerda img {
    display: block;
    margin: 0 auto 8px;
}

.noticia-1-esquerda{
    margin-top: -90px;
}

.noticia-2-esquerda {
    margin-top: 40px;
}

.noticia-1-esquerda h3,
.noticia-2-esquerda h3 {
    font-size: 16px;
    margin-top: 10px;
}

/* TITULOS */
.popular img,
.noticia-recentes img {
    width: 100%;
    margin-bottom: 10px;
}
/* DIREITA - COLUNA */

.coluna-direita {
    width: 100%;
    border-left: 1px;
    padding-left: 20px;
}

/* CARDS DA DIREITA */
.coluna-direita .card {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding: 12px 0;
    cursor: pointer;
}

/* IMAGENS */
.coluna-direita .card img {
    width: 110px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    flex-shrink: 0;
}

/* TEXTO */
.coluna-direita .card p {
    flex: 1;
    font-size: 14px;
    line-height: 1.4;
    color: #000307;
}

/* HOVER */
.coluna-direita .card:hover p {
    text-decoration: underline;
    color: blue;
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 30px 15px;
    margin-top: 40px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    font-family: "Keania One", sans-serif;
    color: #37f9ef;
    font-size: 28px;
    margin-top: 10px;
}


